html,
body {
  text-align: center;
  height: 100%;
}
#root{text-align: center; width: 100%;}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-field-error-text {
    color: #d42a2a!important;
    font-weight: 500!important;
}
.form-field-error {
    border: 1px solid #d42a2a!important;
}

.form-field-success {
    border: 1px solid #28b012!important;
}
